/*
 * Copyright (c) 2026 Analog Devices, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	no_clock: no-clock {
		/* Dummy clock for invalid or reserved mux inputs. */
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <0>;
	};

	clk_mgmt_ext: ext {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <0>;
	};

	clk_mgmt_inro: inro {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <131072>;
	};

	clk_mgmt_inro_div4: inro_div4 {
		#clock-cells = <0>;
		compatible = "fixed-factor-clock";
		clock-div = <4>;
		clocks = <&clk_mgmt_inro>;
	};

	clk_mgmt_rtc: rtc {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <0>;
	};

	clk_mgmt_pclk: pclk {
		#clock-cells = <0>;
		compatible = "fixed-factor-clock";
		clock-div = <2>;
		clocks = <&scale_sysclk_div 0>;
	};

	/* The UART mux cannot exist in the UART node otherwise it leads to a circular dependency */
	bclk_src: mux@50042000 {
		#clock-cells = <1>;
		compatible = "clock-mux";
		reg = <0x50042000 0x3>;
		offset = <0x10>;
		input-sources = <&clk_mgmt_uart_pclk &clk_mgmt_ibro>;

		bclk_uart0: bclk_uart0 {
			#clock-cells = <0>;
			compatible = "clock-output";

			/*
			 * Since the sys_clk is what feeds the pclk, the following states
			 * must only be enabled when the corresponding sys_clk state is
			 * active. If there's a mismatch, the actual frequency will be
			 * different than what the state specifies.
			 */

			/* Depends on sys_clk_erfo_32 */
			bclk_uart0_16: bclk_uart0_16 {
				compatible = "clock-state";
				clocks = <&clk_mgmt_uart_pclk 1 &bclk_src 0>;
				clock-frequency = <DT_FREQ_M(16)>;
			};

			/* Depends on sys_clk_erfo_16 */
			bclk_uart0_8: bclk_uart0_8 {
				compatible = "clock-state";
				clocks = <&clk_mgmt_uart_pclk 1 &bclk_src 0>;
				clock-frequency = <DT_FREQ_M(8)>;
			};

			/* Depends on sys_clk_erfo_8 */
			bclk_uart0_4: bclk_uart0_4 {
				compatible = "clock-state";
				clocks = <&clk_mgmt_uart_pclk 1 &bclk_src 0>;
				clock-frequency = <DT_FREQ_M(4)>;
			};

			/* Depends on sys_clk_ipo */
			bclk_uart0_ipo: bclk_uart0_ipo {
				compatible = "clock-state";
				clocks = <&clk_mgmt_uart_pclk 1 &bclk_src 0>;
				clock-frequency = <DT_FREQ_M(25)>;
			};

			/* Depends on sys_clk_32k */
			bclk_uart0_16k: bclk_uart0_16k {
				compatible = "clock-state";
				clocks = <&clk_mgmt_uart_pclk 1 &bclk_src 0>;
				clock-frequency = <16384>;
			};

			/* When using ibro, sys_clk is not a parent clock, so only the ibro source is used to determine the frequency. */
			bclk_uart0_ibro: bclk_uart0_ibro {
				compatible = "clock-state";
				clocks = <&clk_mgmt_ibro 1 &clk_mgmt_uart_pclk 1 &bclk_src 1>;
				clock-frequency = <7372800>;
			};

			bclk_uart0_off: bclk_uart0_off {
				compatible = "clock-state";
				clocks = <&clk_mgmt_uart_pclk 0>;
				clock-frequency = <0>;
			};
		};
	};
};

&cpu0 {
	clock-outputs = <&sys_clk>;
	clock-output-names = "default";
	clock-state-0 = <&sys_clk_erfo_32>;
	clock-state-1 = <&sys_clk_erfo_16>;
	clock-state-2 = <&sys_clk_erfo_8>;
	clock-state-3 = <&sys_clk_ipo>;
	clock-state-4 = <&sys_clk_32k>;
	clock-state-names = "default", "medium", "low", "turbo", "32k";
};

&gcr {
	#address-cells = <1>;
	#size-cells = <1>;
	ranges = <0x0 0x0 0x400>;

	clk_mgmt_erfo: erfo@8 {
		#clock-cells = <1>;
		compatible = "adi,max32-clock-source";
		reg = <0x8 0x1>;
		offset = <0x10>;
		frequency = <DT_FREQ_M(32)>;
		enum = <0x2>;
	};

	clk_mgmt_ertco: ertco@8 {
		#clock-cells = <1>;
		compatible = "adi,max32-clock-source";
		reg = <0x8 0x1>;
		offset = <0x11>;
		frequency = <32768>;
		enum = <0x6>;
	};

	clk_mgmt_ipo: ipo@8 {
		#clock-cells = <1>;
		compatible = "adi,max32-clock-source";
		reg = <0x8 0x1>;
		offset = <0x12>;
		frequency = <DT_FREQ_M(50)>;
		enum = <0x0>;
	};

	clk_mgmt_ibro: ibro@8 {
		#clock-cells = <1>;
		compatible = "adi,max32-clock-source";
		reg = <0x8 0x1>;
		offset = <0x14>;
		frequency = <7372800>;
		enum = <0x5>;
	};

	mux_sysclk_sel: mux@8 {
		#clock-cells = <1>;
		compatible = "clock-mux";
		reg = <0x8 0x3>;
		offset = <0x9>;
		input-sources = <&clk_mgmt_ipo &no_clock &clk_mgmt_erfo &clk_mgmt_inro &no_clock
				 &clk_mgmt_ibro &mux_32k_sel &clk_mgmt_ext>;
	};

	scale_sysclk_div: prescaler@8 {
		#clock-cells = <1>;
		compatible = "adi,max32-clock-div";
		reg = <0x8 0x3>;
		offset = <0x6>;
		input-source = <&mux_sysclk_sel>;

		sys_clk: sys_clk {
			#clock-cells = <0>;
			compatible = "clock-output";

			sys_clk_erfo_32: sys_clk_erfo_32 {
				compatible = "clock-state";
				clocks = <&clk_mgmt_erfo 1 &mux_sysclk_sel 2 &scale_sysclk_div 0>;
				clock-frequency = <DT_FREQ_M(32)>;
			};

			sys_clk_erfo_16: sys_clk_erfo_16 {
				compatible = "clock-state";
				clocks = <&clk_mgmt_erfo 1 &mux_sysclk_sel 2 &scale_sysclk_div 1>;
				clock-frequency = <DT_FREQ_M(16)>;
			};

			sys_clk_erfo_8: sys_clk_erfo_8 {
				compatible = "clock-state";
				clocks = <&clk_mgmt_erfo 1 &mux_sysclk_sel 2 &scale_sysclk_div 2>;
				clock-frequency = <DT_FREQ_M(8)>;
			};

			sys_clk_ipo: sys_clk_ipo {
				compatible = "clock-state";
				clocks = <&clk_mgmt_ipo 1 &mux_sysclk_sel 0 &scale_sysclk_div 0>;
				clock-frequency = <DT_FREQ_M(50)>;
			};

			sys_clk_32k: sys_clk_32k {
				compatible = "clock-state";
				clocks = <&clk_mgmt_ertco 1 &clk_mgmt_ertco32k 1 &mux_32k_sel 0
					  &mux_sysclk_sel 6 &scale_sysclk_div 0>;
				clock-frequency = <32768>;
			};
		};
	};

	clk_mgmt_uart_pclk: clk_mgmt_uart_pclk@24 {
		#clock-cells = <1>;
		compatible = "clock-gate";
		input = <&clk_mgmt_pclk>;
		reg = <0x24 0x1>;
		offset = <0x9>;
		invert;
	};
};

&mcr {
	ranges = <0x0 0x0 0x400>;

	clk_mgmt_ertco32k: ertco32k@8 {
		#clock-cells = <1>;
		compatible = "clock-gate";
		input = <&clk_mgmt_ertco>;
		reg = <0x10 0x1>;
		offset = <0x3>;
	};

	mux_32k_sel: mux@10 {
		#clock-cells = <1>;
		compatible = "clock-mux";
		reg = <0x10 0x2>;
		offset = <0x0>;
		input-sources = <&clk_mgmt_ertco32k &clk_mgmt_inro_div4 &clk_mgmt_rtc>;
	};
};

&gpio0 {
	/delete-property/ clocks;
};

&uart0 {
	clock-outputs = <&bclk_uart0>;
	clock-output-names = "default";
	/* Can only have a max of 5 clock states right now. Skip some that we won't use */
	clock-state-0 = <&bclk_uart0_16>;
	clock-state-1 = <&bclk_uart0_8>;
	clock-state-2 = <&bclk_uart0_4>;
	clock-state-3 = <&bclk_uart0_ipo>;
	clock-state-4 = <&bclk_uart0_ibro>;
	clock-state-names = "default", "medium", "low", "turbo", "ibro";
};
